<div class="row" style="display: flex;">

    <div class="col-sm-6">
        <div class="getDataContainer">
            <p class="getDataTittle">Click button to read rainfall data ...</p>
            <button class="getDataButton" (click)="getRainfallData()">Click me!</button>
        </div>
        <textarea class="getDataLabel" disabled> {{rainfallData}} </textarea>
        <div>
            <button class="viewDataButton" (click)="rainfallView()">Click to View!</button>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="getDataContainer">
            <p class="getDataTittle">Click button to read waterlevel data ...</p>
            <button class="getDataButton" (click)="getWaterlevelData()">Click me!</button>
        </div> 
        <textarea class="getDataLabel" disabled> {{waterlevelData}} </textarea>
        <div>
            <button class="viewDataButton" (click)="waterlevelView()">Click to View!</button>
        </div>
    </div>

</div>

<div class="row" style="display: flex;">

    <div class="col-sm-6">
        <div class="getAccuDataContainer">
            <p class="getAccuDataTittle">Click button to get accumitated rainfall data (AGO)...</p>
            <button class="getAccuDataButton" (click)="getAccuRainFallData()" [disabled] = !isGetRainfallData>Click me!</button>
        </div>
        <textarea class="getAccuDataLabel" disabled> {{rainfallAccuData}} </textarea>
        <div>
            <button class="viewAccuDataButton" (click)="AccuRainfallView()" [disabled] = !isGetRainfallData>Click to View!</button>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="getAccuDataContainer">
            <p class="getAccuDataTittle">Click button to get accumilate waterlevel data (AGO)...</p>
            <button class="getAccuDataButton" (click)="getAccuWaterLevelData()" [disabled] = !isGetWaterLevelData>Click me!</button>
        </div> 
        <textarea class="getAccuDataLabel" disabled> {{waterlevelAccuData}} </textarea>
        <div>
            <button class="viewAccuDataButton" (click)="AccuWaterlevelView()" [disabled] = !isGetWaterLevelData>Click to View!</button>
        </div>
    </div>

</div>

<div class="row" style="display: flex;">

    <div class="col-sm-6">
        <div class="getHatValueDataContainer">
            <p class="getHatValueDataTitle">Initializes the model for rainfall data ...</p>
            <button class="getHatValueDataButton" (click)="getRainFallHatValues()" [disabled] = !isGetRainfallHatValues>Click me!</button>
        </div>
        <textarea class="getHatValueDataLabel" disabled> {{rainFallHatValusLabel}} </textarea>
    </div>

    <div class="col-sm-6">
        <div class="getHatValueDataContainer">
            <p class="getHatValueDataTitle">Initializes the model for waterlevel data ...</p>
            <button class="getHatValueDataButton" (click)="getWaterLevelHatValues()" [disabled] = !isGetWaterLevelHatValues>Click me!</button>
        </div> 
        <textarea class="getHatValueDataLabel" disabled> {{waterLevelHatValusLabel}} </textarea>
    </div>

</div>

<div>
    <div class="expectedYear">
        <p>Insert expected year : </p>
        <form (submit)="onSubmit()">
            <input type='text' style="width:50px; text-align: center;" [(ngModel)]="kValue" name="kValue">
            <button type="submit" style="margin-left: 10px;" > Get Prediction</button>
        </form>
    </div>
</div>

<div class="horizontalSeperator"></div>

<div class = "row">
    <div class="col-sm-6 predictedRainfall">
        <p style="float: right;">Predicted Rainfail</p><br/>
        <label style="float: right; margin-right: -82px;">{{predictedRainfall}}</label>
    </div>
    <div class='col-sm-6 predictedWaterLevel'>
        <p style="float: left;">Predicted WaterLevel</p><br/>
        <label style="float: left; margin-left: -82px;">{{predictedWaterLevel}}</label>
    </div>
</div>

<div class="analyzeWrapper">
    <button class="analyzeButton" (click) = "showAlert()" >Analyze Flood Risk</button>
</div>


<!-- [disabled] = !getPrediction -->