.getDataContainer{
    margin: 25px 0px 0px 10px;
    display: flex;
}

.getDataButton{
    margin-left: 25px;
    height: 30px;
}

.getDataLabel{
    width: inherit;
    height: 160px;
    background: white;
}

.viewDataButton{
   margin-left: 20px;
}

.getAccuDataContainer{
    margin: 25px 0px 0px 10px;
    display: flex;
}

.getAccuDataButton{
    margin-left: 25px;
    height: 30px;
}

.getAccuDataLabel{
    width: inherit;
    height: 160px;
    background: white;
}

.viewAccuDataButton{
    margin-left: 20px;
}

.getHatValueDataContainer{
    margin: 25px 0px 0px 10px;
    display: flex;
}

.getHatValueDataButton{
    margin-left: 25px;
    height: 30px;
}

.getHatValueDataLabel{
    width: inherit;
    height: 40px;
    background: white;
}

.expectedYear{
    display: block;
    text-align: center;
}

.horizontalSeperator{
    height: 20px
}

.analyzeWrapper{
    text-align: center;
}

.analyzeButton{
    position: absolute;
    margin: 20px 0px 20px -76px;
}